source https://nuget.org/api/v2
framework: net47, netstandard2.0

nuget FSharp.Core
nuget FSharp.Formatting
nuget Nuget.Core
nuget FAKE
nuget ILMerge.MSBuild.Tasks.Prime
group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group crm365
  source https://nuget.org/api/v2
  nuget Chorus.LinqToXrm.Client
  nuget Microsoft.CrmSdk.Workflow
  nuget Newtonsoft.Json
